<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demoapplication">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DemoApplication">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Student Activity -->
        <activity
            android:name=".StudentActivity"
            android:label="@string/blank_activity_title">
        </activity>

        <!-- Student Complaints Activity -->
        <activity
            android:name=".StudentComplaintsActivity"
            android:label="@string/blank_activity_title">
        </activity>

        <!-- Student New Complaint Activity -->
        <activity
            android:name=".StudentNewComplaintActivity"
            android:label="@string/blank_activity_title">
        </activity>

        <!-- Student Past Complaints Activity -->
        <activity
            android:name=".StudentPastComplaintsActivity"
            android:label="@string/blank_activity_title">
        </activity>

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" />

        <!-- Complaint Activity -->
        <activity android:name=".ComplaintActivity" />

        <!-- Admin Login Activity -->
        <activity
            android:name=".AdminLoginActivity"
            android:label="Admin Login">
        </activity>

        <!-- Create Event Activity -->
        <activity
            android:name=".CreateEventActivity"
            android:label="Create Event">
        </activity>

        <!-- Admin Home Activity -->
        <activity android:name=".AdminHomeActivity" />

        <!-- Post Activity -->
        <activity
            android:name=".PostActivity">
        </activity>

        <!-- Events Activity -->
        <activity
            android:name=".EventsActivity"
            android:label="@string/blank_activity_title">
        </activity>

    </application>

</manifest>